<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/dashboard">  Vento Solar</a>

{{#if user}}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mx-5">
        {{#ifcond user.nivel_usuario '!=' 1}} 
        <li class="nav-item">
            <a class="nav-link mx-3" href="/usuario/gerenciar-funcionarios">Funcionários</a>
        </li>
        <li class="nav-item dropdown mx-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Terapêutas
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/gerenciar-terapeuta">Gerenciar Terapêutas</a>
                <hr>
                <a class="dropdown-item" href="/usuario/servicos">Serviços</a>
                <a class="dropdown-item" href="/usuario/especialidades">Especialidades</a>
                <hr>
                <a class="dropdown-item" href="/usuario/agendar-atendimento">Agendar atendimento</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hóspedes
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/gerenciar-hospedes">Gerenciar Hóspedes</a>
                <hr>
                <a class="dropdown-item" href="/usuario/relatorio-estadia">Relatório de estadia</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Produtos
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/produtos">Gerenciar</a>
                <a class="dropdown-item" href="/usuario/realizar-venda">Realizar venda</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3" href="/usuario/quartos">Check-in e Check-out</a>
        </li>
        {{#ifcond user.nivel_usuario '==' 3}}
        <li class="nav-item">
            <a class="nav-link mx-3" href="/usuario/listar-faturas">Faturas</a>
        </li>
        {{/ifcond}}
        {{else}}
        <a class="nav-link mx-2" href="/usuario/atendimentos-marcados/{{user.terapeuta}}">
            Atendimentos Marcados
        </a>
        <a class="nav-link mx-2" href="/usuario/servicos" role="button">
            Serviços
        </a>

        {{/ifcond}}
    </ul>
    <ul class="navbar-nav mr-auto mr-sm-2">
      <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.nome}}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/alterar-senha">Alterar senha</a>
                <a class="dropdown-item" href="/logout">Sair</a>
            </div>
        </li>
    </ul>
  </div>
{{/if}}
</nav>
-->
{{#if user}}
<div class="page-wrapper">
<aside class="menu-sidebar d-none d-lg-block">
<div class="logo">
<a href="/dashboard">
    Vento Solar
</a>
</div>
<div class="menu-sidebar__content js-scrollbar1">
<nav class="navbar-sidebar">
    <ul class="list-unstyled navbar__list">
        {{#ifcond user.nivel_usuario "!=" 1}}
        <li class="has-sub">
            <a class="js-arrow" href="#">
                <i class="zmdi zmdi-account"></i>{{user.nome}}</a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="/usuario/alterar-senha">Alterar Senha</a>
                </li>
                <li>
                    <a href="/logout">Sair</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/dashboard">
                <i class="fas fa-tachometer-alt"></i>Página Inicial</a>
        </li>
        <li>
            <a href="/usuario/gerenciar-funcionarios">
                <i class="zmdi zmdi-account"></i>Gerenciar Funcionários</a>
        </li>
        <li class="has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-copy"></i>Terapêutas</a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="/usuario/agendar-servico">Agendar Serviço</a>
                </li>
                <li>
                    <a href="/usuario/gerenciar-terapeuta">Gerenciar Terapêutas</a>
                </li>
                <li>
                    <a href="/usuario/servicos">Servicos</a>
                </li>
                <li>
                    <a href="/usuario/especialidades">Especialidades</a>
                </li>
                <li>
                    <a href="/usuario/agendar-atendimento">Agendar Atendimento</a>
                </li>
            </ul>
        </li>
        <li class="has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-copy"></i>Hóspedes</a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="/usuario/gerenciar-hospedes">Gerenciar Hóspedes</a>
                </li>
                <li>
                    <a href="/usuario/relatorio-estadia">Relatório de Estadia</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/usuario/quartos">
                <i class="fas fa-copy"></i>Gerenciar Quartos</a>
        </li>
        <li>
            <a href="/usuario/checkin-checkout">
                <i class="fas fa-calendar-alt"></i>Check-In e Check-Out</a>
        </li>
        <li>
            <a href="/usuario/listar-faturas">
                <i class="fas fa-chart-bar"></i>Faturas</a>
        </li>
        {{else}}
        <li class="has-sub">
            <a class="js-arrow" href="#">
                <i class="zmdi zmdi-account"></i>{{user.nome}}</a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="/usuario/alterar-senha">Alterar Senha</a>
                </li>
                <li>
                    <a href="/logout">Sair</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/usuario/atendimentos-marcados/{{user.terapeuta}}">
                <i class="fas fa-calendar-alt"></i>Consultas</a>
        </li>
        <li>
            <a href="/usuario/servicos">
                <i class="fas fa-copy"></i>Serviços</a>
        </li>
        {{/ifcond}}
    </ul>
</nav>
</div>
</aside>
<!-- END MENU SIDEBAR-->

<div class="page-container">
<!-- HEADER DESKTOP-->
<!--
<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" action="" method="POST">
                    
                </form>
                <div class="header-button">
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="content">
                                <a class="js-acc-btn" href="#">{{user.nome}}</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="/usuario/alterar-senha">
                                            <i class="zmdi zmdi-account"></i>Trocar Senha</a>
                                    </div>
                                <div class="account-dropdown__footer">
                                    <a href="/logout">
                                        <i class="zmdi zmdi-power"></i>Sair</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
-->
<!-- END HEADER DESKTOP-->
{{/if}}

<!-- Jquery JS-->
<script src="/CoolAdmin/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="/CoolAdmin/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/CoolAdmin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="/CoolAdmin/vendor/slick/slick.min.js">
</script>
<script src="/CoolAdmin/vendor/wow/wow.min.js"></script>
<script src="/CoolAdmin/vendor/animsition/animsition.min.js"></script>
<script src="/CoolAdmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/CoolAdmin/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/CoolAdmin/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/CoolAdmin/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/CoolAdmin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/CoolAdmin/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/CoolAdmin/vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="/CoolAdmin/js/main.js"></script>