<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Vento Solar</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.css">

        <script src="/js/moment.js"></script>
        

        <link rel="stylesheet" href="/fullcalendar/daygrid/main.css">
        <link rel="stylesheet" href="/fullcalendar/core/main.css">
        <link rel="stylesheet" href="/fullcalendar/timegrid/main.css">
        <link rel="stylesheet" href="/fullcalendar/list/main.css">

        <script src="/fullcalendar/core/main.js"></script>
        <script src="/fullcalendar/interaction/main.js"></script>
        <script src="/fullcalendar/daygrid/main.js"></script>
        <script src="/fullcalendar/timegrid/main.js"></script>
        <script src="/fullcalendar/list/main.js"></script>
        <script src="/fullcalendar/pt-br.js"></script>

        <!-- Fontfaces CSS-->
        <link href="/CoolAdmin/css/font-face.css" rel="stylesheet" media="all">
        <link href="/CoolAdmin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="/CoolAdmin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="/CoolAdmin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

        <!-- Bootstrap CSS-->
        <link href="/CoolAdmin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

        <!-- Vendor CSS-->
        <link href="/CoolAdmin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
        <link href="/CoolAdmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
        <link href="/CoolAdmin/vendor/wow/animate.css" rel="stylesheet" media="all">
        <link href="/CoolAdmin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
        <link href="/CoolAdmin/vendor/slick/slick.css" rel="stylesheet" media="all">
        <link href="/CoolAdmin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="/CoolAdmin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="/CoolAdmin/css/theme.css" rel="stylesheet" media="all">

        <!-- CSS Feito por mim (Rafael) -->
        <link rel="stylesheet" href="/css/rafael-css.css">

        <!--
        <style>
            body {
                background-image: url("/img/wallpaper-2.jpg");
                
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover; /* Resize the background image to cover the entire container */
            }
        </style>
        -->
    </head>
    <body>
        {{#if user}}
        {{>_navbar}}    
            <div class="main-content container" style="margin-top: -5%">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                              <div class="au-card">
                                {{#if error}}
                                    <div class="alert alert-danger">{{error}}</div>
                                {{else}}

                                {{/if}}
                                {{>_msg}}
                                {{{body}}}
                              </div>
                            </div><!-- .col -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="main-content container">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                              <div class="au-card">
                                {{#if error}}
                                    <div class="alert alert-danger">{{error}}</div>
                                {{else}}

                                {{/if}}
                                {{>_msg}}
                                {{{body}}}
                              </div>
                            </div><!-- .col -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    </body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>
</html>