<h4>Agendar consulta com {{terapeuta.nome}} :</h4>
<div class="card">
    <div class="card-body">
        <form action="/usuario/agendar-atendimento" id="formulario" method="POST">
            <input type="text" name="cpf_terapeuta" class="form-control" value="{{terapeuta._id}}"hidden>

            <label for="bescahosp">Hóspede:</label>
            <input type="text" id="palavra-hosp" onkeyup="buscaNomeHosp()" placeholder="Digite o nome do hóspede..." class="form-control mt-2">
            <br>
            <table class="table table-striped" id="tabela-hosp" style="text-align: center;">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Selecionar</th>
                </tr>
                </thead>
                <tbody>
            {{#each hospedes}}
                <tr>
                    <td>{{nome}}</td>
                    <td>{{cpf}}</td>
                    <!-- Envia o hóspede escolhido -->
                    <td><input type="radio" name="hospede" value="{{_id}}"></td>
                </tr>
            {{/each}}
            </tbody>
            </table>
            <hr>


            <label for="sala">Sala da consulta:</label>
                <!-- Envia a sala -->
                <input type="text" name="sala" class="form-control">

            <label for="data_consulta">Data da consulta</label>
                <input type="date" value="{{data}}" disabled class="form-control">
                <!-- Envia a data -->
                <input type="date" name="data_consulta" value="{{data}}" hidden class="form-control">

            <label for="horario">Horário</label>
                <input type="time" disabled value="{{horario}}" class="form-control">
                <!-- Envia o horário -->
                <input type="time" name="horario" hidden value="{{horario}}" class="form-control">

            <br>
            <label for="buscserv">Busca de serviços:</label>
            <input type="text" id="palavra" onkeyup="buscaNome()" placeholder="Digite o nome do serviço..." class="form-control mt-2">
            <br>

            <table class="table table-striped" id="tabela" style="text-align: center">
                <tr>
                    <th>Nome Do Serviço</th>
                    <th>Duração (Minutos)</th>
                    <th>Valor (R$)</th>
                    <th>Marcar</th>
                </tr>
            {{#each servicos}}
                <tr>
                    <td>{{nome}}</td>
                    <td><p>{{duracao}}</p></td>
                    <td><p>{{valor}}</p></td>
                    <!-- envia os serviços -->
                    <td><input onchange="verificaValor()" name="check" type="checkbox" class="form-check-input" value="{{_id}}"></td>
                </tr>
            {{/each}}
            
            <!-- Envio da duração de todos os serviços e do valor respectivamente! -->
            <input type="text" name="duracao" hidden id="duracao">
            <input type="text" name="valor_t" hidden id="valor_t">
            <tr>
                
                <td><strong>Valor Total: </strong></td>
                <td colspan="3"><strong><p id="resultado-soma">R$ 0</p></strong></td>
            </tr>
            </table>
            <hr>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-success mt-2">Agendar</button>
            </div>
            
        </form>
    </div>
</div>



<script>
/*
    $(document).ready(function () {
        $('#tabela-hosp').DataTable({
            "pagingType": "simple",
            "info": false,
            "ordering": false,
            "searching": false,
            "language" : {
            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "_MENU_ resultados por página",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sZeroRecords": "Nenhum registro encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            },
            "oAria": {
                "sSortAscending": ": Ordenar colunas de forma ascendente",
                "sSortDescending": ": Ordenar colunas de forma descendente"
            },
            "select": {
                "rows": {
                    "_": "Selecionado %d linhas",
                    "0": "Nenhuma linha selecionada",
                    "1": "Selecionado 1 linha"
                }
            }
        }
        });
        $('.dataTables_length').addClass('bs-select');
    });
*/
    function buscaNome() {
        var entrada, filtro, tabela, tr, td, i, txtValue;

        
        entrada = document.getElementById("palavra");
        filtro = entrada.value.toUpperCase();
        tabela = document.getElementById("tabela");
        tr = tabela.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            console.log(td)
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filtro) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function buscaNomeHosp() {
        var entrada, filtro, tabela, tr, td, i, txtValue;

        
        entrada = document.getElementById("palavra-hosp");
        filtro = entrada.value.toUpperCase();
        tabela = document.getElementById("tabela-hosp");
        tr = tabela.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];

            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filtro) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


    function verificaValor() {
        var tabela, tr, td, i, input, valor, resultado_total, passar;

        resultado_total = document.getElementById("resultado-soma")
        resultado_total = parseInt(resultado_total.innerText, 10)
        if (!resultado_total) {
            resultado_total = 0
        }


        tabela = document.getElementById("tabela");
        tr = tabela.getElementsByTagName("tr");

        var resultados = [];
        var resultado2 = [];
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            input = tr[i].getElementsByTagName("input")[0];
            if (input) {
                if (input.checked) {
                    conteudo = tr[i].getElementsByTagName("p")[1];
                    conteud2 = tr[i].getElementsByTagName("p")[0];
                    valor = parseInt(conteudo.innerText, 10);
                    valo2 = parseInt(conteud2.innerText, 10);

                    resultado2[i] = valo2
                    resultados[i] = valor
                } else {
                    resultados[i] = 0
                    resultado2[i] = 0
                }
            }
        }

        passa2 = 0
    	passar = 0
        for (i = 1; i < resultados.length; i++) {
            passar = passar + resultados[i];
            passa2 = passa2 + resultado2[i];
        }

        document.getElementById("resultado-soma").innerHTML = "R$ " + passar;

        document.getElementById("valor_t").value = passar;
        document.getElementById("duracao").value = passa2;
    }

    function teste() {
        var form = document.getElementById("formulario");
        var i;
        for (i = 0; i < form.length; i++) {
            alert(i + " -- " + document.getElementById("formulario").elements.item(i).value)
        }
    }

</script>