 <h3>Alterar hóspede: </h3>
<div class="card">
    <div class="card-body">
        <form action="/usuario/alterar-hospedes" method="POST">
                <input type="text" name="cpf_antigo" hidden value="{{hospede.cpf}}">
            <label for="nome">Nome: </label>
                <input type="text" name="nome" class="form-control" value="{{hospede.nome}}" required>
            <label for="data_nascimento">Data de nascimento: </label>
                <input type="date" name="data_nascimento" value="{{dateFormatiso hospede.data_nascimento}}" class="form-control" required>
            <label for="rg">RG: </label>
                <input type="text" name="rg" value="{{hospede.rg}}" class="form-control" required>
            <label for="cpf">CPF: </label>
                <input type="text" name="cpf" value="{{hospede.cpf}}" class="form-control" required>
            <label for="telefone_1">Telefone: </label>
                <input type="text" name="telefone_1" value="{{hospede.telefone_1}}" class="form-control" required>
            <label for="telefone_2">Telefone 2: </label>
                <input type="text" name="telefone_2" value="{{hospede.telefone_2}}" class="form-control">
            <label for="email">Email: </label>
                <input type="email" name="email" value="{{hospede.email}}" class="form-control" required>
            <label for="observacoes">Observações:</label>
                <textarea name="observacoes" class="form-control" rows="5"></textarea>
            <button class="btn btn-success mt-4" type="submit">Alterar</button>
        </form>
    </div>
</div>