<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      height: 800,
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      
      eventClick: function(info) {
        window.location.href = "/admin/ver-evento/" + info.event.id
      }, /*
      eventClick: function(info) {
        info.jsEvent.preventDefault();
        $('#visualizar #titulo').text(info.event.id);
        $('#visualizar').modal('show');
      },*/
      navLinks: true, // can click day/week names to navigate views
      businessHours: true, // display business hours
      editable: true,
      locale: 'pt-br',
      eventLimit: true,
      events: [
        {{#each eventos}}
          {{#ifcond acontecer '==' true}}
            {{#has_passed data}}
              {
                {{#if data_termino}}
                allDay: true,
                {{/if}}
                title: '{{titulo}}',
                start: '{{dateFormatiso data}}T{{horario}}',
                end: '{{#if data_termino}}{{dateFormatiso data_termino_fc}}T{{#if horario_termino}}{{horario_termino}}{{else}}00:00:00{{/if}}{{else}}{{dateFormatiso data}}T{{#if horario_termino}}{{horario_termino}}{{else}}00:00:00{{/if}}{{/if}}',
                color: '#5cb85c',
                id: '{{_id}}'
              }, 
            {{else}}
              { 
                {{#if data_termino}}
                allDay: true,
                {{/if}}
                title: '{{titulo}}',
                start: '{{dateFormatiso data}}T{{horario}}',
                end: '{{#if data_termino}}{{dateFormatiso data_termino_fc}}T{{#if horario_termino}}{{horario_termino}}{{else}}00:00:00{{/if}}{{else}}{{dateFormatiso data}}T{{#if horario_termino}}{{horario_termino}}{{else}}00:00:00{{/if}}{{/if}}',
                color: '#bcbcbc',
                id: '{{_id}}'
              }, 
            {{/has_passed}}
          {{/ifcond}} 
        {{/each}}
      ]
    });

    calendar.render();
  });

</script>



<h2 style="text-align: center">Bem vindo ao sistema Vento Solar!</h2>
<div class="card">
    <div class="card-body">
      {{#ifcond user.nivel_usuario '!=' 1}}
        <a href="/admin/cadastro-evento"><button class="btn btn-success">Criar Evento</button></a>
        <hr>
      {{/ifcond}}
          <div id='calendar'></div>
          <br><br>          
    </div>
</div>