<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      height: 800,
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },

      eventClick: function(info) {
        window.location.href = "/admin/ver-evento/" + info.event.id
      },

      defaultDate: Date.now(),
      navLinks: true, // can click day/week names to navigate views
      businessHours: true, // display business hours
      editable: true,
      locale: 'pt-br',
      events: [
        {{#each eventos}}
          {{#ifcond acontecer '==' true}}
            {{#has_passed data}}
              {
                {{#if data_termino}}
                allDay: true,
                {{/if}}
                title: '{{titulo}}',
                start: '{{dateFormatiso data}}T{{horario}}',
                end: '{{#if data_termino}}{{dateFormatiso data_termino_fc}}T{{#if horario_termino}}{{horario_termino}}{{else}}00:00:00{{/if}}{{else}}{{dateFormatiso data}}T{{#if horario_termino}}{{horario_termino}}{{else}}00:00:00{{/if}}{{/if}}',
                color: '#5cb85c',
                id: '{{_id}}'
              }, 
            {{else}}
              { 
                {{#if data_termino}}
                allDay: true,
                {{/if}}
                title: '{{titulo}}',
                start: '{{dateFormatiso data}}T{{horario}}',
                end: '{{#if data_termino}}{{dateFormatiso data_termino_fc}}T{{#if horario_termino}}{{horario_termino}}{{else}}00:00:00{{/if}}{{else}}{{dateFormatiso data}}T{{#if horario_termino}}{{horario_termino}}{{else}}00:00:00{{/if}}{{/if}}',
                color: '#bcbcbc',
                id: '{{_id}}'
              }, 
            {{/has_passed}}
          {{/ifcond}} 
        {{/each}}
      ]
    });

    calendar.render();
  });

</script>




<h2 style="text-align: center">Bem vindo ao sistema Vento Solar!</h2>
<div class="card">
    <div class="card-body">
      {{#ifcond user.nivel_usuario '!=' 1}}
        <a href="/admin/cadastro-evento"><button class="btn btn-success">Criar Evento</button></a>
        <hr>
      {{/ifcond}}
          <div id='calendar'></div>
          <br><br>          
    </div>
</div>




<!-- OLD CODES


#ANTIGA DEMONSTRAÇÃO DE EVENTOS NA DASHBOARD.
<div class="card mt-3">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <hr>
        <p>{{descricao}}</p>
        <small class="mt-4">Data: {{dateFormat data "dd-mm-yyyy"}}</small><br>
        <small class="mt-2">Horário: {{horario}}</small>
        <hr>
        <a href="/admin/alterar-evento/{{_id}}"><button class="btn btn-success mt-2">Editar</button></a>
        <a href="/admin/desativar-evento/{{_id}}"><button class="btn btn-danger mt-2">Desativar</button></a>
    </div>
</div>
<br>

-->