<script>
    function verifica_data(data_input) {
        var data_hoje = new Date()
        data_hoje = moment(data_hoje).format("YYYY-MM-DD")
        data_input = moment(data_input).format("YYYY-MM-DD")
        if(moment(data_hoje).isAfter(data_input)) {
           document.getElementById("data").valueAsDate = null;
           document.getElementById("alerta").innerHTML = "<strong>Valor da data inserida é anterior a data atual!</strong>"
           document.getElementById("alerta2").innerHTML = "<strong>Por favor insira outra data.</strong>"
        } else {
            document.getElementById("alerta").innerText = ""
            document.getElementById("alerta2").innerText = ""
        }
    }
</script>

<h3>Agendamento de Serviços Especializados</h3><br>
<h4>Escolher data desejada:</h4>
<div class="card">
    <div class="card-body">
        <h5>Buscar:</h5>
        <form action="/usuario/agendar-servico-ver-data" method="POST">
        <table class="table" style="text-align:center">
        <tr>
            <td>
                <p id="alerta"></p>
                <p id="alerta2"></p>
                <input type="date" name="data" id="data" onchange="verifica_data(this.value)" class="form-control mt-2">
            </td>
            <td>
                <input type="text" name="id_especialidade" value="{{especialidade}}" hidden>
                <input style="margin-top: 5%;" type="image" src="/img/magnifer.png" alt="Submit Form" />
            </td>
        </tr>
        </table>
        </form>
    </div>
    {{#if consultas}}
    <hr>
        <div style="text-align: center;">
            <form action="/usuario/agendar-servico-mostrar-form" method="POST">
                <input type="text" name="enviar_terapeuta" hidden id="enviar_terapeuta">
                <input type="text" name="enviar_horario"   hidden id="enviar_horario">
                <input id="btn_prosseguir" type="image" src="/img/next.png" alt="Submit Form" hidden/>
            </form>
        
        </div>
        <div class="container">
          <div id='calendar'></div>
        </div>
        
    {{/if}}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
            plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list', 'resourceTimeline' ],
            locale: 'pt-br',
            selectable: true,
            now: {{data}},
            editable: false, // enable draggable events
            aspectRatio: 1.8,
            eventTextColor: '#000000',
            scrollTime: '06:00', // undo default 6am scrollTime
            header: {
            left: 'today prev,next',
            center: 'title',
            right: 'resourceTimelineDay,resourceTimelineThreeDays,timeGridWeek,dayGridMonth'
            },
            defaultView: 'resourceTimelineDay',
            views: {
            resourceTimelineThreeDays: {
                type: 'resourceTimeline',
                duration: { days: 3 },
                buttonText: '3 days'
            }
            },
            resourceLabelText: 'Terapêutas',
            resources: [
            {{#each terapeutas}}
                {id: '{{_id}}', title: '{{nome}}', eventColor: 'red', businessHours: {startTime: '08:00', endTime: '20:00'}},
            {{/each}}
            ],
            events: [
            {{#each consultas}}
                {id: '{{consulta._id}}', resourceId: '{{terapeuta._id}}', start: '{{dateFormatiso data_consulta}}T{{horario}}:00', title: '{{servico.nome}}'},
            {{/each}}
            ],
            select: function(info) {
                var btn_prosseguir = document.getElementById('btn_prosseguir');
                btn_prosseguir.removeAttribute("hidden");

                hora_selecionada = info.startStr;
                var tmp = new Date(hora_selecionada);
                var hrs = tmp.getHours();
                if (hrs < 10) {
                    hrs = "0" + hrs;
                }
                var min = tmp.getMinutes();
                if (min == 0) {
                    min = "0" + min;
                }
                var horario = hrs + ":" + min + ":00";

                var terapeuta = info.resource.id

                var enviar_terapeuta = document.getElementById("enviar_terapeuta")
                enviar_terapeuta.value = terapeuta
                var enviar_horario = document.getElementById("enviar_horario")
                enviar_horario.value = horario

                console.log("Horário: " + horario);
                console.log("ID Terapêuta: " + terapeuta);
                console.log("Input Terapeuta: " + enviar_terapeuta.value)
                console.log("input Horario: " + enviar_horario.value)
            }
        });
    calendar.render();
    });

    





</script>
