<h3>Agendamento de Serviços Especializados</h3><br>
<h4>Escolher data desejada:</h4>
<div class="card">
    <div class="card-body">
        <h5>Buscar:</h5>
        <form action="/usuario/agendar-servico-ver-data" method="POST">
        <table class="table" style="text-align:center">
        <tr>
            <td>
                <p id="alerta"></p>
                <p id="alerta2"></p>
                <input type="date" name="data" id="data" onchange="verifica_data(this.value)" class="form-control mt-2">
            </td>
            <td>
                <input type="text" name="id_especialidade" value="{{especialidade}}" hidden>
                <input style="margin-top: 5%;" type="image" src="/img/magnifer.png" alt="Submit Form" />
            </td>
        </tr>
        </table>
        </form>
    </div>
    {{#if consultas}}
    <hr>
        <div class="container">
          <div id='calendar'></div>
        </div>
        <button id="submit-btn" onclick="redirect()"></button>
    {{/if}}
</div>

<script>
    var hora_selecionada;

    function redirect() {

    }

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
            plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list', 'resourceTimeline' ],
            locale: 'pt-br',
            selectable: true,
            now: {{data}},
            editable: false, // enable draggable events
            aspectRatio: 1.8,
            eventTextColor: '#000000',
            scrollTime: '06:00', // undo default 6am scrollTime
            header: {
            left: 'today prev,next',
            center: 'title',
            right: 'resourceTimelineDay,resourceTimelineThreeDays,timeGridWeek,dayGridMonth'
            },
            defaultView: 'resourceTimelineDay',
            views: {
            resourceTimelineThreeDays: {
                type: 'resourceTimeline',
                duration: { days: 3 },
                buttonText: '3 days'
            }
            },
            resourceLabelText: 'Terapêutas',
            resources: [
            {{#each terapeutas}}
                {id: '{{_id}}', title: '{{nome}}', eventColor: 'red'},
            {{/each}}
            ],
            events: [
            {{#each consultas}}
                {id: '1', resourceId: '{{terapeuta._id}}', start: '{{dateFormatiso data_consulta}}T{{horario}}:00', title: '{{servico.nome}}'},
            {{/each}}
            ],
            dateClick: function(info) {
                alert(info.startStr)
            }
        });
    calendar.render();
    });






</script>
