<h3>Desativar terapêuta: </h3>
<div class="card">
    <div class="card-body">
        <h5>Buscar terapêuta:</h5>
        <form action="/admin/busca-desativar-terapeuta" method="POST">
            <label for="busca_cpf">Terapêuta: </label>
                <input type="text" name="busca_cpf" class="form-control" list="terapeutas">
                <datalist id="terapeutas">
                    {{#each terapeutas}}
                        <option value="{{ cpf }}">{{nome}}</option>
                    {{/each}}
                </datalist>
            <button type="submit" class="btn btn-success mt-3">Buscar</button>
        </form>
    </div>
</div>
<hr>
{{#if terapeuta}}
<div class="card">
    <div class="card-body">
        <form action="/admin/desativar-terapeuta" method="POST">
                <input type="text" name="_id" hidden value="{{terapeuta._id}}">
            <label for="nome">Nome: </label>
                <input type="text" name="nome" class="form-control" value="{{terapeuta.nome}}" disabled>
            <label for="data_nascimento">Data de nascimento: </label>
                <input type="date" name="data_nascimento" class="form-control" value="{{dateFormatiso terapeuta.data_nascimento}}" disabled>
            <label for="rg">RG: </label>
                <input type="text" name="rg" class="form-control" value="{{terapeuta.rg}}" disabled>
            <label for="cpf">CPF: </label>
                <input type="text" name="cpf" class="form-control" value="{{terapeuta.cpf}}" disabled>
            <label for="email">Email: </label>
                <input type="email" name="email" value="{{terapeuta.email}}" class="form-control" disabled>
            <label for="especialidade">Especialidade: </label>
                <input type="text" value="{{terapeuta.especialidade.nome}}" class="form-control" disabled>
            <label for="acerto">Periodicidade do pagamento: </label>
                <select name="acerto" class="custom-select" disabled>
                    {{#select terapeuta.acerto}}
                    <option value="0">Diário</option>
                    <option value="1">Semanal</option>
                    <option value="2">Mensal</option>
                    {{/select}}
                </select>
            <button class="btn btn-danger mt-4" type="submit">Desativar</button>
        </form>
    </div>
</div>
{{else}}
<div class="card">
    <div class="card-body">
        <p>Busque pelo nome ou CPF para editar um cadastro!</p>
    </div>
</div>
{{/if}}