<h3>Ver terapêuta: </h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/alterar-terapeuta" method="POST">
                <input type="text" name="_id" hidden value="{{terapeuta._id}}">
            <label for="nome">Nome: </label>
                <input type="text" name="nome" class="form-control" value="{{terapeuta.nome}}" disabled>
            <label for="data_nascimento">Data de nascimento: </label>
                <input type="date" name="data_nascimento" class="form-control" value="{{dateFormatiso terapeuta.data_nascimento}}" disabled>
            <label for="rg">RG: </label>
                <input type="text" name="rg" class="form-control" value="{{terapeuta.rg}}" disabled>
            <label for="cpf">CPF: </label>
                <input type="text" name="cpf" class="form-control" value="{{terapeuta.cpf}}" disabled>
            <label for="telefone_1">Telefone: </label>
                <input type="text" name="telefone_1" class="form-control" value="{{terapeuta.telefone_1}}" disabled>
            <label for="telefone_2">Telefone 2: </label>
                <input type="text" name="telefone_2" value="{{terapeuta.telefone_2}}" class="form-control" disabled>
            <label for="email">Email: </label>
                <input type="email" name="email" value="{{terapeuta.email}}" class="form-control" disabled>
            <label for="especialidade">Especialidade: </label>
                <input type="text" value="{{terapeuta.especialidade.nome}}" class="form-control" disabled>
            <label for="acerto">Periodicidade do pagamento: </label>
                <select name="acerto" class="custom-select" disabled>
                    {{#select terapeuta.acerto}}
                    <option value="0">Diário</option>
                    <option value="1">Semanal</option>
                    <option value="2">Mensal</option>
                    {{/select}}
                </select>
        </form>
    </div>
</div>
