{{#if quartos}}
<h3>Gerenciar Quartos</h3>
<div class="card"> 
    <div class="card-body">
        <h5>Buscar:</h5>
        <table class="table" style="text-align:center">
            <tr>
                <td>
                    <input type="text" id="palavra" onkeyup="buscaNome()" placeholder="Digite o nome do quarto..." class="form-control mt-2">
                </td>
                <td>
                    <a href="/usuario/cadastro-quarto"><img class="mt-2" src="/img/add.png"></a>
                </td>
            </tr>
        </table>
        {{#if quartos}}
        <table class="table" id="tabela" style="text-align:center">
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Capacidade</th>
                <th>Diária (R$)</th>
                <th>Disponibilidade</th>
                <th>Estadias</th>
                <th>Detalhes</th>
                <th>Editar</th>
                <th>Desativar</th>
            </tr>
            {{#each quartos}}
            <tr>
                <td>{{titulo}}</td>
                <td>{{tipo}}</td>
                <td>{{capacidade}}</td>
                <td>{{diaria}}</td>
                <td>
                {{#ifcond estado '==' 'disponivel'}}
                  Disponível
                {{/ifcond}}
                {{#ifcond estado '==' 'ocupado'}}
                  Ocupado
                {{/ifcond}}
                {{#ifcond estado '==' 'manutencao'}}
                  Em manutenção
                {{/ifcond}}
                </td>
                <td><a href="/usuario/agenda-quarto/{{_id}}"><img src="/img/calendar.png"></a></td>
                <td><a href="/usuario/ver-quarto/{{_id}}"><img src="/img/eye.png"></a></td>
                <td><a href="/usuario/alterar-quarto/{{_id}}"><img src="/img/black-ink-pen.png"></a></td>
                <td><a href="/usuario/desativar-quarto/{{_id}}"><img src="/img/delete.png" width="22"></a></td>
            </tr>
            {{/each}}
        </table>
        {{else}}
        <h4>Sem funcionários cadastrados!</h4>
        {{/if}}
    </div>
</div>

{{else}}
<div class="card">
<div class="card-body">
    <a href="/usuario/cadastro-quarto"><button class="btn btn-success">Cadastrar</button></a>
    <hr>
    <h4>Nenhum quarto cadastrado.</h4>
</div>
</div>
{{/if}}


<script>
    function buscaNome() {
        var entrada, filtro, tabela, tr, td, i, txtValue;

        entrada = document.getElementById("palavra");
        filtro = entrada.value.toUpperCase();
        tabela = document.getElementById("tabela");
        tr = tabela.getElementsByTagName("tr");


        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filtro) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>