<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      height: 550,
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth'
      },

      eventClick: function(info) {
        window.location.href = "/admin/ver-evento/" + info.event.id
      },

      defaultDate: Date.now(),
      navLinks: true, // can click day/week names to navigate views
      businessHours: true, // display business hours
      editable: true,
      locale: 'pt-br',
      events: [
        {{#each estadias}}
            {
              title: '{{quarto.titulo}}',
              start: '{{dateFormatiso data_entrada}}',
              end: '{{dateFormatiso data_saida}}T12:00:00',
              color: '#5BC0DE',
              id: '{{_id}}'
            }, 
        {{/each}}
      ]
    });

    calendar.render();
  });

</script>







{{#if quartos}}
    <h3>Quartos:</h3>
<div class="card">
<div class="card-body">
    <a href="/usuario/cadastro-quarto"><button class="btn btn-success">Cadastrar</button></a>
    <hr>
    <div class="container">
        {{#grouped_each 3 quartos}}
            <div class="row">
                {{#each this}}
                    <div class="col" style="padding: 2%;text-align:center;">
                        <h5>{{titulo}}</h5>
                        <hr>
                        <p>{{tipo}}</p>
                        <p><strong>Diária: R$ {{diaria}},00</strong></p>
                        <small>Capacidade: {{capacidade}}</small>
                        <hr>
                        {{#ifcond estado '==' "disponivel"}}
                            <a href="/usuario/check-in/{{_id}}"><button class="btn btn-success">Disponível (fazer Check-in)</button></a>
                        {{/ifcond}}
                        {{#ifcond estado '==' "manutencao"}}
                            <button class="btn btn-info" disabled>Em Manutenção</button>
                        {{/ifcond}}
                        {{#ifcond estado '==' "ocupado"}}
                            <a href="/usuario/check-out/{{_id}}"><button class="btn btn-danger">Ocupado (fazer Check-out)</button></a>
                        {{/ifcond}}
                        <hr>
                        <a href="/usuario/alterar-quarto/{{_id}}"><button class="btn btn-success">Alterar</button></a>
                        <a href="/usuario/desativar-quarto/{{_id}}"><button class="btn btn-danger">Desativar</button></a>
                    </div>
                {{/each}}
            </div>
        {{/grouped_each}}
    </div>
</div>
</div><br><br>
<div class="card">
<div class="card-body">
    <div id='calendar'></div>

</div>
</div>
{{else}}
<div class="card">
<div class="card-body">
    <a href="/usuario/cadastro-quarto"><button class="btn btn-success">Cadastrar</button></a>
    <hr>
    <h4>Nenhum quarto cadastrado.</h4>
</div>
</div>
{{/if}}