<h3>Ver quarto: </h3>
<div class="card">
    <div class="card-body">
        <form action="/usuario/alterar-quarto" method="POST">
                <input type="text" name="id_quarto" value="{{quarto._id}}" required hidden>
            <label for="titulo">Titulo: </label>
                <input type="text" name="titulo" class="form-control" value="{{quarto.titulo}}" disabled>
            <label for="estado">Estado: </label>
                <select name="estado" class="form-control" disabled>
                    {{#select quarto.estado}}
                    <option value="disponivel" default>Disponível</option>
                    <option value="ocupado">Ocupado</option>
                    <option value="manutencao">Em manutenção</option>
                    {{/select}}
                </select>
            <label for="tipo">Tipo: </label>
                <input type="text" name="tipo" class="form-control" value="{{quarto.tipo}}" disabled>
            <label for="capacidade">Capacidade: </label>
                <input type="number" class="form-control" value="{{quarto.capacidade}}" name="capacidade" disabled>
            <label for="diaria">Diária: </label>
                <input type="text" class="form-control" value="{{quarto.diaria}}" name="diaria" disabled>
        </form>
    </div>
</div>